<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8" />
    <title>Busca por Formação</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/stylepadrao.css"
    />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <link rel="shortcut icon" href="../../assets/imgs/LOGO_SIS_2.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body onload="onLoad()">
    <!-- Header -->
    <header>
      <div class="header">
        <a href="../Home - Painel gerencial/index.html">
          <div class="home btn-header">
            <img src="../../assets/imgs/home_white_24dp.svg" />
          </div>
        </a>

        <div class="logo">
          <img src="../../assets/imgs/LOGO_SIS_2.png" />
        </div>

        <a href="javascript:history.back()">
          <div class="rollback btn-header">
            <img src="../../assets/imgs/arrow_back_white_24dp.svg" />
          </div>
        </a>
      </div>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row justify-content-evenly mt-4 mb-3">
          <div class="col-xl-7 titulo">
            <h3 class="fw-bold">
              Busca por candidato - Vaga:
              <span class="processo">Processo seletivo</span>
            </h3>
          </div>
          <div class="col-xl-4"></div>
          
        </div>
        <div class="row justify-content-evenly">
          <div class="col-xl-4">
              <div class="mb-3">
                <input
                  name="nome"
                  type="text"
                  class="form-control mt-4"
                  placeholder="Nome"
                  id="filtro-nome"
                />
              </div>
          </div>
          <div class="col-xl-7">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table
                class="table table-bordered tabela mt-4 table-wrapper-scroll-y my-custom-scrollbar scrollbar scrollbar-primary"
                id="tab"
              >
                <tbody align="center" class="processosSeletivos">
                  <tr class="processo" v-for="processo in processosSeletivos">
                    <th class="font-weight-normal numeros" scope="row">
                      {{processo.id}}
                    </th>
                    <td class="info-nome">{{processo.processo}}</td>
                    <td>{{ processo.status }}</td>
                    <td class="first-button">
                      <img src="../../assets/imgs/manage_accounts_white_24dp.svg" alt="" />
                    </td>
                    <td class="second-button">
                      <img src="../../assets/imgs/partership.svg" alt="" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row justify-content-evenly">
          <div class="col-md-7">
          </div>
          <div class="col-md-4">
            <button 
              href="../Dados do Programa de Formação - Cadastro e Edição/index.html"
              class="mt-5 form-control cadastro d-flex justify-content-center"
            >
              NOVO CADASTRO
          </button>
          </div>
        </div>
      </div>
    </main>
    <script src="main.js"></script>
    <script src="./vue.js"></script>

    <!-- Scripts para linkar VUEJs e a plataforma do Axios-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
