:root {
    /* Cores principais - Botões e telas */
    --color-background-screen: #EBEBEB;
    --color-yellow-principal: #FFB700;
    --color-blue-principal: #090B2E;
    --color-magenta-principal: #AB0045;
    --color-background-form-input: #D3CACA;

    /* Cores da barra de progresso da busca de vagas */
    --color-green-progress: #19B200;
    --color-yellow-progress: yellow;
    --color-red-progress: red;

    /* Cores de fonte */
    --color-gray-font: #737373;

    /* Cores default */
    --color-white-default: #FFFFFF;
    --color-black-default: #000000;
}

/* Restart da página, removendo as bordas default do navegador */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--color-blue-principal);
}

body {
    background-color: var(--color-background-screen) !important;
}

.title h1 {
    font-weight: 700;
}

.header{
    background-color: var(--color-blue-principal);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*
.scrollbar {
    margin-left: 30px;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.force-overflow {
    min-height: 450px;
}
.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: grey; 
}
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey; 
}
.scrollbar-primary {
    scrollbar-color: #F5F5F5;
}
*/

.btn-header{
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled{
    display: none; 
}

.btn-header img, .logo img{
    height: 50px;
}

.home.btn-header{
    background-color: var(--color-yellow-principal);
}

.rollback.btn-header{
    background-color: var(--color-magenta-principal);
}   

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5em;
}

/* Title */

.container-fluid h1 {
    font-weight: 700;
    font-size: 30px;
}

/* Input de busca */

.search-input input {
    border-radius: 3px;
}


/* Table - Coluna Índice */
.search-table tbody > tr > th {
    font-weight: bold;
    color: var(--color-gray-font);
}

/* Table - Coluna Processo Seletivo Java */
.search-table tbody > tr > td:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
}

/* Table - Coluna em Andamento */
.search-table tbody > tr > td:nth-child(3) {
    color: var(--color-green-progress);
    font-weight: 700;
}

/* Table - Coluna1  */
.search-table tbody > tr > td:nth-child(4) {
    background-color: var(--color-blue-principal);
    font-weight: 700;
    text-align: center;
}

/* Table - Coluna2  */
.search-table tbody > tr > td:nth-child(5) {
    background-color: var(--color-magenta-principal);
    font-weight: 700;
    text-align: center;
}

/* Table - Coluna3  */
.search-table tbody > tr > td:nth-child(6) {
    background-color: var(--color-yellow-principal);
    font-weight: 700;
    text-align: center;
}

.search-table tbody > tr > td {
    color: var(--color-gray-font);
}

/* Table */

.table {
    background-color: var(--color-white-default);
}

/* Button do rodapé */

.button-footer {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color-white-default);
    border: none !important;
    border-radius: 3px;
    font-weight: 700;
}

.button-footer:hover {
    background-color: var(--color-yellow-principal);
    transition: 0.5s , 0.5s;
}

#buscar {
    background-color: var(--color-magenta-principal);
}

#cadastrar {
    background-color: var(--color-yellow-principal);
}

.btn {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(150px, 1fr));
    gap: 1000px !important; 
}

@media screen and (min-width: 974px) {
    .empty{
        height: 120px;
    }
}