#observacao{
    height: 140px;
    width: 100%;

}


.btn-esquerda{
    
   
    height: 50px !important;
    width: 100%;
   
    text-align: center !important;
    font-weight: bold !important;
    color: #FFFFFF;
    line-height: 30px;

    background: #AB0045;
    border-radius: 3px;
    white-space: normal !important;
    Word-wrap: break-Word;
    

}

#stts{
    
    height: 50px !important;
    width: 100%;
    text-align: center !important;
    font-weight: bold !important;
    color: #FFFFFF;
    line-height: 30px;

    background:  #FFB600;
    border-radius: 3px;
    white-space: normal !important;
    Word-wrap: break-Word;
    
}

.modal{

    display: none;

}

#fontModal{

    font-family: Montserrat;
    font-size: 24px;
}

button .largura{

    width:100% !important;
}

.modal-body, .modal-header, .modal-footer {
    text-align: center;
    background-color: #EBEBEB
}
.modal-body{
    min-height: 55vh;
    flex-direction: column;
}

.submit, .cancel{
    color: white !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    width: 350px;
    height: 50px;
    font-size: 25px !important;
}

.submit{
    background-color: #AB0045 !important;

}

.cancel{
    background-color: #FFB700 !important;
}

.conteudomodal {
    display: block;
    text-align: left; 
    margin-left: 95px;
    color: #0000ff !important;
   
}

.btn.submit.form-control{
    font-size: 22px !important;
}

.titulo{

    text-align: left;
    margin-left: 95px;
    color: #090B2E;
}

.nome{
    color: #737373;
    font-size: 24px;
}


