.titulo{
    color: #090B2E;
    font-weight: bold;
}

#disabledTextInput{
    background-color: #D3CACA;
    border: 1px solid #BCB3B3;
}

.aprovado::placeholder{
    color: #19B200 !important; 
}

.reprovado::placeholder{
    color: red !important;
}

.standby::placeholder{
    color: blue !important;
}

textarea{
    resize: none !important;
}

.download{
    transform: rotate(180deg) !important;
}

.subtitulo{
    color: #090B2E;
    font-weight: bold;
    font-size: large;
}

.btn-confirmar{
    background-color: #AB0045 !important;
    font-weight: bold !important;
    color: #fff !important;
    width: 100%;
}

.btn-cancelar{
    background-color: #FFB700 !important;
    font-weight: bold !important;
    color: #fff !important;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .empty{
        height: 200px;
    }
  }

/*Modal*/
.modal-body, .modal-header, .modal-footer {
    text-align: center;
    background-color: #EBEBEB
}

.modal-body{
    min-height: 55vh;
    flex-direction: column;
}

.submit, .cancel{
    color: white !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    width: 350px;
    height: 50px;
    font-size: 25px !important;
}

.submit{
    background-color: #AB0045 !important;

}

.cancel{
    background-color: #FFB700 !important;
}

.conteudomodal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.conteudomodalCadastroEdicao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 80px;
}

.alinharDiv{
    text-align: start;
}

.informacoes-modal{
    color: #737373 !important;
    font-size: 2rem;
}